@model IEnumerable<WebAppCa.Models.Programme>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">ULCA </h1>
        <p class="lead">Your shows at ULCA Broadcast.</p>
    </div>
</div>
<section>
    <div class="wrapper">
        <blockquote class="blockquote text-center">
            <p class="mb-0"> There is no time, like now.</p>
            <footer class="blockquote-footer">Fredriko Emanero <cite title="Source Title"> Washinton Post</cite></footer>
        </blockquote>
    </div>
</section>





@using (Html.BeginForm("Index", "Programmes", FormMethod.Get))
{
    <p>
        @Html.DropDownList("CategoryId", ViewData["CategoryId"] as IEnumerable<SelectListItem>)
        @*Find by name: @Html.TextBox("search")*@
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img class="logo2" src="/Upploads/@item.ProgrammeId/@item.Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProgrammeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProgrammeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProgrammeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<table class=" table table-sm">
    <tr>
        <th> @Html.ActionLink("Create New", "Create")</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <ul id="showlist" class="list-unstyled mx-auto justify-content-center test">
                <li data-keywords="Sports News Hour" class="media my-8">
                    <img class="mr-3" src="~/images/media.svg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> > @Html.DisplayFor(modelItem => item.Title)<</h5>
                        <p> Description: @Html.DisplayFor(modelItem => item.Description) </p>
                        <p> Category: @Html.DisplayFor(modelItem => item.Category.Title)</p>

                    </div>
                </li>
            </ul>



        </tr>
    }

</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
