@model IEnumerable<WebAppCa.Models.Schedule>



<<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
        <p>
            @*@Html.DropDownList("CategoryId", ViewData["CategoryId"] as IEnumerable<SelectListItem>)
            @Html.DropDownList("ChannelId", ViewData["ChannelId"] as IEnumerable<SelectListItem>)
            @Html.DropDownList("ScheduleId", ViewData["ScheduleId"] as IEnumerable<SelectListItem>)*@



            Category:@Html.DropDownList("CategoryId", (SelectList)ViewBag.CategoryId, htmlAttributes: new { @class = "form-control" })<br />
            Channel:@Html.DropDownList("ChannelId", (SelectList)ViewBag.ChannelId, htmlAttributes: new { @class = "form-control" })<br />
            Air date:@Html.DropDownList("ScheduleId", (SelectList)ViewBag.ScheduleId, htmlAttributes: new { @class = "form-control" })<br />
            <input type="submit" value="Filter" />
        </p>
    }
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sorting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sorting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
