@using Microsoft.CodeAnalysis.Options
@model IEnumerable<WebAppCa.Models.Schedule>


<section class="v1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1">ULCA </h1>
            <p class="lead">It's about <strong>Us</strong> and <strong>You</strong>. </p>
        </div>
    </div>

</section>

<section>
    <div class="wrapper">
        <blockquote class="blockquote text-center">
            <p class="mb-0"> There is no time, like now.</p>
            <footer class="blockquote-footer">Fredriko Emanero <cite title="Source Title"> Washinton Post</cite></footer>
        </blockquote>
    </div>
</section>

<div class="container align-content-center">

    @using (Html.BeginForm("Index", "Schedules", FormMethod.Get))
    {
        <div align="center">
            <span>
                Category @Html.DropDownList("CategoryId", ViewData["CategoryId"] as IEnumerable<SelectListItem>)
                Channel: @Html.DropDownList("ChannelId", ViewData["ChannelId"] as IEnumerable<SelectListItem>)
            </span>

            @*Find by name: @Html.TextBox("SearchString")*@
            <button type="submit" value="Search" class="btn btn-info">filter</button>
        </div> @*<input type="submit" value="Search" />*@

    }




    @foreach (var item in Model)
    {
        <div class="row align-content-sm-center">
            <div class="col-sm-10  ">
                <div class="card shadow p-3 ">
                    <div class="card-body rounded-left">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Programme.Title) at: @Html.DisplayFor(modelItem => item.Channel.Name) </h5>
                        <p class="card-text">
                            About: @Html.DisplayFor(modelItem => item.Programme.Description) <br />
                            Air Date: @Html.DisplayFor(modelItem => item.AirDate) <br /> Category: @Html.DisplayFor(modelItem => item.Programme.Category.Title) <br />
                            Starts: @Html.DisplayFor(modelItem => item.StartTime) <br /> Ends : @Html.DisplayFor(modelItem => item.EndTime) <br />
                            Length: @Html.DisplayFor(modelItem => item.Programme.Length) minutes <br />
                        </p>
                        <a href="@Url.Action("Index", "Programmes")" class="btn btn-primary">Go to programmes</a>
                    </div>
                </div>
            </div>

        </div>
    }

</div>




