@model IEnumerable<WebAppCa.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="v1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1">ULCA </h1>
            <p class="lead">It's about <strong>Create</strong> </p>
        </div>
    </div>

</section>

<div class="container">

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssueDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img class="logo" src="/Upploads/@item.NewsId.ToString()/@item.Image" />                      
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.NewsId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.NewsId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>