@model IEnumerable<WebAppCa.ViewModels.MyChannelViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetChannelList</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>

            <th>
          
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)

            </td>
            <td></td>
            @foreach (var channel in item.MyChannels)
            {
              
                @channel.Name; <br/>
                @channel.Description; <br />
            }
        </tr>
}
    </tbody>
</table>
</body>
</html>
