@model IEnumerable<WebAppCa.Models.UserChannel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel.ChannelId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserChannelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserChannelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserChannelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
