@using Microsoft.AspNetCore.Mvc
@using Microsoft.Azure.KeyVault.Models
@using Microsoft.EntityFrameworkCore.Metadata.Internal
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppCa</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/css/main.css" rel="stylesheet" />

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand">ULCA</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                    <a class="nav-link" href="@Url.Action("Index", "Schedules")"><span>Schedules</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index", "Programmes")"><span>Programmes</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index", "Channels")"><span>Channels</span></a>
                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More options</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="@Url.Action("About", "Home")"><span>About</span></a>
                        @if (User.IsInRole("User"))
                        {
                            <a class="dropdown-item" href="@Url.Action("Index", "MySchedules")"><span>My Schedules</span></a>
                            <a class="dropdown-item" href="@Url.Action("Index", "News")"><span> News </span></a>
                        }


                    </div>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADM</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="@Url.Action("Index", "MySchedules")"><span>My Schedules</span></a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Account")"><span>Account</span></a>
                            <a class="dropdown-item" href="@Url.Action("Index", "AdminProgrammes")"><span>ADM programmes</span></a>
                            <a class="dropdown-item" href="@Url.Action("Index", "ADMSchedules")"><span>ADM Schedules</span></a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Schedules")"><span> Create Schedules</span></a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Categories")"><span> Create Categories</span></a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Channels")"><span> Create Channel</span></a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Programmes")"><span> Create Programmes</span></a>
                            <a class="dropdown-item" href="@Url.Action("Index", "News")"><span> News Editing </span></a>
                        </div>
                    </li>
                }
            </ul>

        </div>
        <partial name="_LoginPartial" />

    </nav>

   


    @RenderBody()


    <partial name="_FooterPArtial" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


   

    @RenderSection("Scripts", required: false)
</body>
</html>
